/* TEMPLATE 2 */

.vega {
  padding: 48px;
}

/* TITLE ALIGNMENT */

/* left */

.vega.alignLeft h1 {
  text-align: left;
}

/* center */

.vega.alignCenter h1 {
  text-align: center;
}

/* right */

.vega.alignRight h1 {
  text-align: right;
}

/*  FONT  */

/* small */

.vega.fontSm h1 {
  font-size: 27px; 
}

.vega.fontSm h2 {
  font-size: 18px;
}

.vega.fontSm h3 {
  font-size: 15px;
}

.vega.fontSm p {
  font-size: 12px;
}

/* base */

.vega.fontBase h1 {
  font-size: 28.8px; 
}

.vega.fontBase h2 {
  font-size: 19.2px;
}

.vega.fontBase h3 {
  font-size: 16px;
}

.vega.fontBase p {
  font-size: 12.8px;
}

/* medium */

.vega.fontMd h1 {
  font-size: 32.4px; 
}

.vega.fontMd h2 {
  font-size: 21.6px;
}

.vega.fontMd h3 {
  font-size: 18px;
}

.vega.fontMd p {
  font-size: 14.4px;
}

/* large */

.vega.fontLg h1 {
  font-size: 36px; 
}

.vega.fontLg h2 {
  font-size: 24px;
}

.vega.fontLg h3 {
  font-size: 20px;
}

.vega.fontLg p {
  font-size: 16px;
}

/* SPACING */

/* small */

.vega.spacingSm {
  line-height: 1.2;
}

/* base */

.vega.spacingBase {
  line-height: 1.5;
}

/* medium */

.vega.spacingMd {
  line-height: 1.7;
}

/* large */

.vega.spacingLg {
  line-height: 2;
}

/* COLLUMN LAYOUT */

/* 1-2 */

.vega.column-1-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row: 1;
  gap: 20px
}

.vega.column-1-2 div:nth-child(1) {
  grid-column: span 1 / span 1;
}

.vega.column-1-2 div:nth-child(2) {
  grid-column: span 2 / span 2;
}

/* 1-1 */

.vega.column-1-1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row: 1;
  gap: 20px
}

.vega.column-1-1 div:nth-child(1) {
  grid-column: span 1 / span 1;
}

.vega.column-1-1 div:nth-child(2) {
  grid-column: span 1 / span 1;
}

/* 2 - 1 */

.vega.column-2-1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row: 1;
  gap: 20px
}

.vega.column-2-1 div:nth-child(1) {
  grid-column: span 2 / span 2;
}

.vega.column-2-1 div:nth-child(2) {
  grid-column: span 1 / span 1;
}

/* COLOR */

/* black */

.vega.black h1:after, .vega.black h2:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* red */

.vega.red h1:after, .vega.red h2:after {
  content: "";
  background: #E8384F;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* orange */

.vega.orange h1:after, .vega.orange h2:after {
  content: "";
  background: #E67E22;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* yellow */

.vega.yellow h1:after, .vega.yellow h2:after {
  content: "";
  background: #F1C40F;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* green */

.vega.green h1:after, .vega.green h2:after {
  content: "";
  background: #A4CF30;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* cyan */

.vega.cyan h1:after, .vega.cyan h2:after {
  content: "";
  background: #1ABC9C;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* blue */

.vega.blue h1:after, .vega.blue h2:after {
  content: "";
  background: #016EF1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* purple */

.vega.purple h1:after, .vega.purple h2:after {
  content: "";
  background: #7A6FF0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* pink */

.vega.pink h1:after, .vega.pink h2:after {
  content: "";
  background: #E362E3;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* gray */

.vega.gray h1:after, .vega.gray h2:after {
  content: "";
  background: #8DA3A6;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* GLOBAL */

.vega hr {
  width: 50%;
  margin: 0;
}

.vega h1 {
  padding-bottom: 5px;
  position: relative;
}

.vega h1 b, .vega h1 strong {
  font-weight: 700;
}

b, strong {
  font-weight: 500;
}

.vega h2 {
  padding-bottom: 4px;
  margin-top: 19.2px;
  position: relative;
}

.vega h2:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

.vega h3 {
  margin-top: 8px;
}

.vega p {
  margin-top: 6.4px;
  margin-bottom: 0;
}

.vega ul {
  list-style-type: "-";
  list-style-position: outside;
  padding-left: 12px;
  margin: 0;
  display: block;
}

.vega li {
  padding-left: 15px;
}

.vega table {
  width: 100%;
}

.vega strong {
  font-weight: 500;
}

.vega table td {
  justify-content: center;
}

.vega table p {
  margin: 0;
}

.vega table h3 {
  margin: 0;
}

.vega td:nth-last-child(1) {
  text-align: right;
}

.vega hr {
  border: 1px solid #ddd9d9;
}

.vega code {
  background-color: rgba(46, 204, 113, 0.15);
  color: #1b7943;
  padding: 4px 6px;
  border-radius: 10%;
}